*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #FED4B6;
}

body{
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

header > h1{
    margin: 25px;
    letter-spacing: 1px;

}

nav{
    text-align: center;
}



#calculator{
    margin: auto;
    padding: 15px;
}

footer{
    text-align: center;
}